/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChangeRequests]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeRequests](
	[ChangeRequestId] [int] IDENTITY(1,1) NOT NULL,
	[Reference] [nvarchar](max) NULL,
	[StatusChangeRequestStatusId] [int] NULL,
	[HasActiveRejection] [bit] NOT NULL,
	[TrialId] [int] NULL,
	[TrialOther] [nvarchar](max) NULL,
	[RoleId] [int] NULL,
	[RoleOther] [nvarchar](max) NULL,
	[CreationDateTime] [datetime2](7) NOT NULL,
	[DetailDescription] [nvarchar](max) NULL,
	[ImpactTypeId] [int] NULL,
	[RationaleTypeId] [int] NULL,
	[ReasonForChange] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[AdditionalComments] [nvarchar](max) NULL,
	[TitleSubject] [varchar](255) NULL,
 CONSTRAINT [PK_ChangeRequests] PRIMARY KEY CLUSTERED 
(
	[ChangeRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChangeRequestSignatures]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeRequestSignatures](
	[ChangeRequestsChangeRequestId] [int] NOT NULL,
	[SignaturesSignatureUploadId] [int] NOT NULL,
 CONSTRAINT [PK_ChangeRequestSignatures] PRIMARY KEY CLUSTERED 
(
	[ChangeRequestsChangeRequestId] ASC,
	[SignaturesSignatureUploadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChangeRequestStatuses]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeRequestStatuses](
	[ChangeRequestStatusId] [int] NOT NULL,
	[ChangeRequestStatusName] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ChangeRequestStatuses] PRIMARY KEY CLUSTERED 
(
	[ChangeRequestStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DecisionTypes]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DecisionTypes](
	[DecisionTypeId] [int] NOT NULL,
	[DecisionTypeName] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_DecisionTypes] PRIMARY KEY CLUSTERED 
(
	[DecisionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DevLeadAuthSignatures]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DevLeadAuthSignatures](
	[SignaturesSignatureUploadId] [int] NOT NULL,
	[devLeadChangeAuthorisationsDevLeadChangeAuthorisationId] [int] NOT NULL,
 CONSTRAINT [PK_DevLeadAuthSignatures] PRIMARY KEY CLUSTERED 
(
	[SignaturesSignatureUploadId] ASC,
	[devLeadChangeAuthorisationsDevLeadChangeAuthorisationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DevLeadChangeAuthorisations]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DevLeadChangeAuthorisations](
	[DevLeadChangeAuthorisationId] [int] IDENTITY(1,1) NOT NULL,
	[EstimatedTimeImpact] [float] NOT NULL,
	[ChangeRequiredDecription] [nvarchar](max) NULL,
	[DecisionTypeId] [int] NULL,
	[DecisionExplanation] [nvarchar](max) NULL,
	[DecisionBy] [nvarchar](max) NULL,
	[DecisionDateTime] [datetime2](7) NOT NULL,
	[AdditionalComments] [nvarchar](max) NULL,
	[ChangeRequestId] [int] NULL,
 CONSTRAINT [PK_DevLeadChangeAuthorisations] PRIMARY KEY CLUSTERED 
(
	[DevLeadChangeAuthorisationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DevWorkCompleteAuthorisations]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DevWorkCompleteAuthorisations](
	[DevWorkCompleteAuthorisationId] [int] IDENTITY(1,1) NOT NULL,
	[CommitReference] [nvarchar](max) NULL,
	[ActualTimeImpactDays] [float] NOT NULL,
	[ChangeDescription] [nvarchar](max) NULL,
	[CompletedBy] [nvarchar](max) NULL,
	[CompletedDateTime] [datetime2](7) NOT NULL,
	[AdditionalComments] [nvarchar](max) NULL,
	[ProcessDeviationReasonId] [int] NOT NULL,
	[ChangeRequestId] [int] NULL,
 CONSTRAINT [PK_DevWorkCompleteAuthorisations] PRIMARY KEY CLUSTERED 
(
	[DevWorkCompleteAuthorisationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DevWorkCompleteAuthSignatures]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DevWorkCompleteAuthSignatures](
	[SignaturesSignatureUploadId] [int] NOT NULL,
	[devWorkCompleteAuthorisationsDevWorkCompleteAuthorisationId] [int] NOT NULL,
 CONSTRAINT [PK_DevWorkCompleteAuthSignatures] PRIMARY KEY CLUSTERED 
(
	[SignaturesSignatureUploadId] ASC,
	[devWorkCompleteAuthorisationsDevWorkCompleteAuthorisationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DevWorkReleaseAuthorisations]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DevWorkReleaseAuthorisations](
	[DevWorkReleaseAuthorisationId] [int] IDENTITY(1,1) NOT NULL,
	[ReleasedBy] [nvarchar](max) NULL,
	[ReleasedDate] [datetime2](7) NOT NULL,
	[AdditionalComments] [nvarchar](max) NULL,
	[ProcessDeviationReasonId] [int] NOT NULL,
	[ChangeRequestId] [int] NULL,
 CONSTRAINT [PK_DevWorkReleaseAuthorisations] PRIMARY KEY CLUSTERED 
(
	[DevWorkReleaseAuthorisationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DevWorkReleaseAuthSignatures]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DevWorkReleaseAuthSignatures](
	[SignaturesSignatureUploadId] [int] NOT NULL,
	[devWorkReleaseAuthorisationsDevWorkReleaseAuthorisationId] [int] NOT NULL,
 CONSTRAINT [PK_DevWorkReleaseAuthSignatures] PRIMARY KEY CLUSTERED 
(
	[SignaturesSignatureUploadId] ASC,
	[devWorkReleaseAuthorisationsDevWorkReleaseAuthorisationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DevWorkReviewAuthorisations]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DevWorkReviewAuthorisations](
	[DevWorkReviewAuthorisationId] [int] IDENTITY(1,1) NOT NULL,
	[ReviewedBy] [nvarchar](max) NULL,
	[ReviewedDateTime] [datetime2](7) NOT NULL,
	[AdditionalComments] [nvarchar](max) NULL,
	[ProcessDeviationReasonId] [int] NOT NULL,
	[ChangeRequestId] [int] NULL,
 CONSTRAINT [PK_DevWorkReviewAuthorisations] PRIMARY KEY CLUSTERED 
(
	[DevWorkReviewAuthorisationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DevWorkReviewAuthSignatures]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DevWorkReviewAuthSignatures](
	[SignaturesSignatureUploadId] [int] NOT NULL,
	[devWorkReviewAuthorisationsDevWorkReviewAuthorisationId] [int] NOT NULL,
 CONSTRAINT [PK_DevWorkReviewAuthSignatures] PRIMARY KEY CLUSTERED 
(
	[SignaturesSignatureUploadId] ASC,
	[devWorkReviewAuthorisationsDevWorkReviewAuthorisationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailTypes]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailTypes](
	[EmailTypeId] [int] NOT NULL,
	[EmailTypeName] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_EmailTypes] PRIMARY KEY CLUSTERED 
(
	[EmailTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileUploads]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileUploads](
	[FileUploadId] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](max) NULL,
	[ReadableFileName] [nvarchar](max) NULL,
	[File] [varbinary](max) NULL,
	[FileUploadDateTime] [datetime2](7) NOT NULL,
	[FileHash] [nvarchar](max) NULL,
	[UploadedBy] [nvarchar](max) NULL,
	[ChangeRequestId] [int] NOT NULL,
 CONSTRAINT [PK_FileUploads] PRIMARY KEY CLUSTERED 
(
	[FileUploadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImpactTypes]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImpactTypes](
	[ImpactTypeId] [int] NOT NULL,
	[ImpactTypeName] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ImpactTypes] PRIMARY KEY CLUSTERED 
(
	[ImpactTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[NotificationTypeId] [int] NULL,
	[ChangeRequestId] [int] NULL,
	[SentDate] [datetime2](7) NOT NULL,
	[Recipient] [nvarchar](max) NULL,
	[SeenDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationTypes]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationTypes](
	[NotificationTypeId] [int] NOT NULL,
	[NotificationTypeName] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_NotificationTypes] PRIMARY KEY CLUSTERED 
(
	[NotificationTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcessDeviationReasons]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessDeviationReasons](
	[ProcessDeviationReasonId] [int] IDENTITY(1,1) NOT NULL,
	[Reason] [varchar](max) NOT NULL,
 CONSTRAINT [PK_ProcessDeviationReasons] PRIMARY KEY CLUSTERED 
(
	[ProcessDeviationReasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RationaleTypes]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RationaleTypes](
	[RationaleTypeId] [int] NOT NULL,
	[RationaleTypeName] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_RationaleTypes] PRIMARY KEY CLUSTERED 
(
	[RationaleTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RejectionReasonTypes]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RejectionReasonTypes](
	[RejectionReasonTypeId] [int] NOT NULL,
	[RejectionReasonTypeName] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CausesArchive] [bit] NOT NULL,
 CONSTRAINT [PK_RejectionReasonTypes] PRIMARY KEY CLUSTERED 
(
	[RejectionReasonTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rejections]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rejections](
	[RejectionId] [int] IDENTITY(1,1) NOT NULL,
	[RejectionReasonTypeId] [int] NULL,
	[IsRejectionActive] [bit] NOT NULL,
	[RejectedBy] [nvarchar](max) NULL,
	[RejectedDate] [datetime2](7) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[ChangeRequestId] [int] NULL,
 CONSTRAINT [PK_Rejections] PRIMARY KEY CLUSTERED 
(
	[RejectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SentEmails]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SentEmails](
	[SentEmailId] [int] IDENTITY(1,1) NOT NULL,
	[EmailTypeId] [int] NULL,
	[EmailSentDateTime] [datetime2](7) NOT NULL,
	[Recipient] [nvarchar](max) NULL,
	[ReplyTo] [nvarchar](max) NULL,
	[From] [nvarchar](max) NULL,
	[Subject] [nvarchar](max) NULL,
	[HtmlBody] [nvarchar](max) NULL,
	[PlainTextBody] [nvarchar](max) NULL,
	[NotificationId] [int] NULL,
 CONSTRAINT [PK_SentEmails] PRIMARY KEY CLUSTERED 
(
	[SentEmailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SignatureUploads]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SignatureUploads](
	[SignatureUploadId] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](max) NULL,
	[File] [varbinary](max) NULL,
	[FileUploadDateTime] [datetime2](7) NOT NULL,
	[FileHash] [nvarchar](max) NULL,
	[UploadedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_SignatureUploads] PRIMARY KEY CLUSTERED 
(
	[SignatureUploadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trials]    Script Date: 18/05/2022 15:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trials](
	[TrialId] [int] IDENTITY(1,1) NOT NULL,
	[TrialName] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Trials] PRIMARY KEY CLUSTERED 
(
	[TrialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 18/05/2022 15:47:04 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 18/05/2022 15:47:04 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChangeRequests_ImpactTypeId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_ChangeRequests_ImpactTypeId] ON [dbo].[ChangeRequests]
(
	[ImpactTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChangeRequests_RationaleTypeId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_ChangeRequests_RationaleTypeId] ON [dbo].[ChangeRequests]
(
	[RationaleTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChangeRequests_RoleId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_ChangeRequests_RoleId] ON [dbo].[ChangeRequests]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChangeRequests_StatusChangeRequestStatusId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_ChangeRequests_StatusChangeRequestStatusId] ON [dbo].[ChangeRequests]
(
	[StatusChangeRequestStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChangeRequests_TrialId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_ChangeRequests_TrialId] ON [dbo].[ChangeRequests]
(
	[TrialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChangeRequestSignatures_SignaturesSignatureUploadId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_ChangeRequestSignatures_SignaturesSignatureUploadId] ON [dbo].[ChangeRequestSignatures]
(
	[SignaturesSignatureUploadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DevLeadAuthSignatures_devLeadChangeAuthorisationsDevLeadChangeAuthorisationId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_DevLeadAuthSignatures_devLeadChangeAuthorisationsDevLeadChangeAuthorisationId] ON [dbo].[DevLeadAuthSignatures]
(
	[devLeadChangeAuthorisationsDevLeadChangeAuthorisationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DevLeadChangeAuthorisations_ChangeRequestId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_DevLeadChangeAuthorisations_ChangeRequestId] ON [dbo].[DevLeadChangeAuthorisations]
(
	[ChangeRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DevLeadChangeAuthorisations_DecisionTypeId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_DevLeadChangeAuthorisations_DecisionTypeId] ON [dbo].[DevLeadChangeAuthorisations]
(
	[DecisionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DevWorkCompleteAuthorisations_ChangeRequestId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_DevWorkCompleteAuthorisations_ChangeRequestId] ON [dbo].[DevWorkCompleteAuthorisations]
(
	[ChangeRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DevWorkCompleteAuthorisations_ProcessDeviationReasonId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_DevWorkCompleteAuthorisations_ProcessDeviationReasonId] ON [dbo].[DevWorkCompleteAuthorisations]
(
	[ProcessDeviationReasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DevWorkCompleteAuthSignatures_devWorkCompleteAuthorisationsDevWorkCompleteAuthorisationId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_DevWorkCompleteAuthSignatures_devWorkCompleteAuthorisationsDevWorkCompleteAuthorisationId] ON [dbo].[DevWorkCompleteAuthSignatures]
(
	[devWorkCompleteAuthorisationsDevWorkCompleteAuthorisationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DevWorkReleaseAuthorisations_ChangeRequestId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_DevWorkReleaseAuthorisations_ChangeRequestId] ON [dbo].[DevWorkReleaseAuthorisations]
(
	[ChangeRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DevWorkReleaseAuthorisations_ProcessDeviationReasonId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_DevWorkReleaseAuthorisations_ProcessDeviationReasonId] ON [dbo].[DevWorkReleaseAuthorisations]
(
	[ProcessDeviationReasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DevWorkReleaseAuthSignatures_devWorkReleaseAuthorisationsDevWorkReleaseAuthorisationId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_DevWorkReleaseAuthSignatures_devWorkReleaseAuthorisationsDevWorkReleaseAuthorisationId] ON [dbo].[DevWorkReleaseAuthSignatures]
(
	[devWorkReleaseAuthorisationsDevWorkReleaseAuthorisationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DevWorkReviewAuthorisations_ChangeRequestId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_DevWorkReviewAuthorisations_ChangeRequestId] ON [dbo].[DevWorkReviewAuthorisations]
(
	[ChangeRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DevWorkReviewAuthorisations_ProcessDeviationReasonId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_DevWorkReviewAuthorisations_ProcessDeviationReasonId] ON [dbo].[DevWorkReviewAuthorisations]
(
	[ProcessDeviationReasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DevWorkReviewAuthSignatures_devWorkReviewAuthorisationsDevWorkReviewAuthorisationId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_DevWorkReviewAuthSignatures_devWorkReviewAuthorisationsDevWorkReviewAuthorisationId] ON [dbo].[DevWorkReviewAuthSignatures]
(
	[devWorkReviewAuthorisationsDevWorkReviewAuthorisationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FileUploads_ChangeRequestId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_FileUploads_ChangeRequestId] ON [dbo].[FileUploads]
(
	[ChangeRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_ChangeRequestId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_ChangeRequestId] ON [dbo].[Notifications]
(
	[ChangeRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_NotificationTypeId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_NotificationTypeId] ON [dbo].[Notifications]
(
	[NotificationTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rejections_ChangeRequestId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_Rejections_ChangeRequestId] ON [dbo].[Rejections]
(
	[ChangeRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rejections_RejectionReasonTypeId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_Rejections_RejectionReasonTypeId] ON [dbo].[Rejections]
(
	[RejectionReasonTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SentEmails_EmailTypeId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_SentEmails_EmailTypeId] ON [dbo].[SentEmails]
(
	[EmailTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SentEmails_NotificationId]    Script Date: 18/05/2022 15:47:04 ******/
CREATE NONCLUSTERED INDEX [IX_SentEmails_NotificationId] ON [dbo].[SentEmails]
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ChangeRequests]  WITH CHECK ADD  CONSTRAINT [FK_ChangeRequests_ChangeRequestStatuses_StatusChangeRequestStatusId] FOREIGN KEY([StatusChangeRequestStatusId])
REFERENCES [dbo].[ChangeRequestStatuses] ([ChangeRequestStatusId])
GO
ALTER TABLE [dbo].[ChangeRequests] CHECK CONSTRAINT [FK_ChangeRequests_ChangeRequestStatuses_StatusChangeRequestStatusId]
GO
ALTER TABLE [dbo].[ChangeRequests]  WITH CHECK ADD  CONSTRAINT [FK_ChangeRequests_ImpactTypes_ImpactTypeId] FOREIGN KEY([ImpactTypeId])
REFERENCES [dbo].[ImpactTypes] ([ImpactTypeId])
GO
ALTER TABLE [dbo].[ChangeRequests] CHECK CONSTRAINT [FK_ChangeRequests_ImpactTypes_ImpactTypeId]
GO
ALTER TABLE [dbo].[ChangeRequests]  WITH CHECK ADD  CONSTRAINT [FK_ChangeRequests_RationaleTypes_RationaleTypeId] FOREIGN KEY([RationaleTypeId])
REFERENCES [dbo].[RationaleTypes] ([RationaleTypeId])
GO
ALTER TABLE [dbo].[ChangeRequests] CHECK CONSTRAINT [FK_ChangeRequests_RationaleTypes_RationaleTypeId]
GO
ALTER TABLE [dbo].[ChangeRequests]  WITH CHECK ADD  CONSTRAINT [FK_ChangeRequests_Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[ChangeRequests] CHECK CONSTRAINT [FK_ChangeRequests_Role_RoleId]
GO
ALTER TABLE [dbo].[ChangeRequests]  WITH CHECK ADD  CONSTRAINT [FK_ChangeRequests_Trials_TrialId] FOREIGN KEY([TrialId])
REFERENCES [dbo].[Trials] ([TrialId])
GO
ALTER TABLE [dbo].[ChangeRequests] CHECK CONSTRAINT [FK_ChangeRequests_Trials_TrialId]
GO
ALTER TABLE [dbo].[ChangeRequestSignatures]  WITH CHECK ADD  CONSTRAINT [FK_ChangeRequestSignatures_ChangeRequests_ChangeRequestsChangeRequestId] FOREIGN KEY([ChangeRequestsChangeRequestId])
REFERENCES [dbo].[ChangeRequests] ([ChangeRequestId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChangeRequestSignatures] CHECK CONSTRAINT [FK_ChangeRequestSignatures_ChangeRequests_ChangeRequestsChangeRequestId]
GO
ALTER TABLE [dbo].[ChangeRequestSignatures]  WITH CHECK ADD  CONSTRAINT [FK_ChangeRequestSignatures_SignatureUploads_SignaturesSignatureUploadId] FOREIGN KEY([SignaturesSignatureUploadId])
REFERENCES [dbo].[SignatureUploads] ([SignatureUploadId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChangeRequestSignatures] CHECK CONSTRAINT [FK_ChangeRequestSignatures_SignatureUploads_SignaturesSignatureUploadId]
GO
ALTER TABLE [dbo].[DevLeadAuthSignatures]  WITH CHECK ADD  CONSTRAINT [FK_DevLeadAuthSignatures_DevLeadChangeAuthorisations_devLeadChangeAuthorisationsDevLeadChangeAuthorisationId] FOREIGN KEY([devLeadChangeAuthorisationsDevLeadChangeAuthorisationId])
REFERENCES [dbo].[DevLeadChangeAuthorisations] ([DevLeadChangeAuthorisationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DevLeadAuthSignatures] CHECK CONSTRAINT [FK_DevLeadAuthSignatures_DevLeadChangeAuthorisations_devLeadChangeAuthorisationsDevLeadChangeAuthorisationId]
GO
ALTER TABLE [dbo].[DevLeadAuthSignatures]  WITH CHECK ADD  CONSTRAINT [FK_DevLeadAuthSignatures_SignatureUploads_SignaturesSignatureUploadId] FOREIGN KEY([SignaturesSignatureUploadId])
REFERENCES [dbo].[SignatureUploads] ([SignatureUploadId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DevLeadAuthSignatures] CHECK CONSTRAINT [FK_DevLeadAuthSignatures_SignatureUploads_SignaturesSignatureUploadId]
GO
ALTER TABLE [dbo].[DevLeadChangeAuthorisations]  WITH CHECK ADD  CONSTRAINT [FK_DevLeadChangeAuthorisations_ChangeRequests_ChangeRequestId] FOREIGN KEY([ChangeRequestId])
REFERENCES [dbo].[ChangeRequests] ([ChangeRequestId])
GO
ALTER TABLE [dbo].[DevLeadChangeAuthorisations] CHECK CONSTRAINT [FK_DevLeadChangeAuthorisations_ChangeRequests_ChangeRequestId]
GO
ALTER TABLE [dbo].[DevLeadChangeAuthorisations]  WITH CHECK ADD  CONSTRAINT [FK_DevLeadChangeAuthorisations_DecisionTypes_DecisionTypeId] FOREIGN KEY([DecisionTypeId])
REFERENCES [dbo].[DecisionTypes] ([DecisionTypeId])
GO
ALTER TABLE [dbo].[DevLeadChangeAuthorisations] CHECK CONSTRAINT [FK_DevLeadChangeAuthorisations_DecisionTypes_DecisionTypeId]
GO
ALTER TABLE [dbo].[DevWorkCompleteAuthorisations]  WITH CHECK ADD  CONSTRAINT [FK_DevWorkCompleteAuthorisations_ChangeRequests_ChangeRequestId] FOREIGN KEY([ChangeRequestId])
REFERENCES [dbo].[ChangeRequests] ([ChangeRequestId])
GO
ALTER TABLE [dbo].[DevWorkCompleteAuthorisations] CHECK CONSTRAINT [FK_DevWorkCompleteAuthorisations_ChangeRequests_ChangeRequestId]
GO
ALTER TABLE [dbo].[DevWorkCompleteAuthorisations]  WITH CHECK ADD  CONSTRAINT [FK_DevWorkCompleteAuthorisations_ProcessDeviationReasons_ProcessDeviationReasonId] FOREIGN KEY([ProcessDeviationReasonId])
REFERENCES [dbo].[ProcessDeviationReasons] ([ProcessDeviationReasonId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DevWorkCompleteAuthorisations] CHECK CONSTRAINT [FK_DevWorkCompleteAuthorisations_ProcessDeviationReasons_ProcessDeviationReasonId]
GO
ALTER TABLE [dbo].[DevWorkCompleteAuthSignatures]  WITH CHECK ADD  CONSTRAINT [FK_DevWorkCompleteAuthSignatures_DevWorkCompleteAuthorisations_devWorkCompleteAuthorisationsDevWorkCompleteAuthorisationId] FOREIGN KEY([devWorkCompleteAuthorisationsDevWorkCompleteAuthorisationId])
REFERENCES [dbo].[DevWorkCompleteAuthorisations] ([DevWorkCompleteAuthorisationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DevWorkCompleteAuthSignatures] CHECK CONSTRAINT [FK_DevWorkCompleteAuthSignatures_DevWorkCompleteAuthorisations_devWorkCompleteAuthorisationsDevWorkCompleteAuthorisationId]
GO
ALTER TABLE [dbo].[DevWorkCompleteAuthSignatures]  WITH CHECK ADD  CONSTRAINT [FK_DevWorkCompleteAuthSignatures_SignatureUploads_SignaturesSignatureUploadId] FOREIGN KEY([SignaturesSignatureUploadId])
REFERENCES [dbo].[SignatureUploads] ([SignatureUploadId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DevWorkCompleteAuthSignatures] CHECK CONSTRAINT [FK_DevWorkCompleteAuthSignatures_SignatureUploads_SignaturesSignatureUploadId]
GO
ALTER TABLE [dbo].[DevWorkReleaseAuthorisations]  WITH CHECK ADD  CONSTRAINT [FK_DevWorkReleaseAuthorisations_ChangeRequests_ChangeRequestId] FOREIGN KEY([ChangeRequestId])
REFERENCES [dbo].[ChangeRequests] ([ChangeRequestId])
GO
ALTER TABLE [dbo].[DevWorkReleaseAuthorisations] CHECK CONSTRAINT [FK_DevWorkReleaseAuthorisations_ChangeRequests_ChangeRequestId]
GO
ALTER TABLE [dbo].[DevWorkReleaseAuthorisations]  WITH CHECK ADD  CONSTRAINT [FK_DevWorkReleaseAuthorisations_ProcessDeviationReasons_ProcessDeviationReasonId] FOREIGN KEY([ProcessDeviationReasonId])
REFERENCES [dbo].[ProcessDeviationReasons] ([ProcessDeviationReasonId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DevWorkReleaseAuthorisations] CHECK CONSTRAINT [FK_DevWorkReleaseAuthorisations_ProcessDeviationReasons_ProcessDeviationReasonId]
GO
ALTER TABLE [dbo].[DevWorkReleaseAuthSignatures]  WITH CHECK ADD  CONSTRAINT [FK_DevWorkReleaseAuthSignatures_DevWorkReleaseAuthorisations_devWorkReleaseAuthorisationsDevWorkReleaseAuthorisationId] FOREIGN KEY([devWorkReleaseAuthorisationsDevWorkReleaseAuthorisationId])
REFERENCES [dbo].[DevWorkReleaseAuthorisations] ([DevWorkReleaseAuthorisationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DevWorkReleaseAuthSignatures] CHECK CONSTRAINT [FK_DevWorkReleaseAuthSignatures_DevWorkReleaseAuthorisations_devWorkReleaseAuthorisationsDevWorkReleaseAuthorisationId]
GO
ALTER TABLE [dbo].[DevWorkReleaseAuthSignatures]  WITH CHECK ADD  CONSTRAINT [FK_DevWorkReleaseAuthSignatures_SignatureUploads_SignaturesSignatureUploadId] FOREIGN KEY([SignaturesSignatureUploadId])
REFERENCES [dbo].[SignatureUploads] ([SignatureUploadId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DevWorkReleaseAuthSignatures] CHECK CONSTRAINT [FK_DevWorkReleaseAuthSignatures_SignatureUploads_SignaturesSignatureUploadId]
GO
ALTER TABLE [dbo].[DevWorkReviewAuthorisations]  WITH CHECK ADD  CONSTRAINT [FK_DevWorkReviewAuthorisations_ChangeRequests_ChangeRequestId] FOREIGN KEY([ChangeRequestId])
REFERENCES [dbo].[ChangeRequests] ([ChangeRequestId])
GO
ALTER TABLE [dbo].[DevWorkReviewAuthorisations] CHECK CONSTRAINT [FK_DevWorkReviewAuthorisations_ChangeRequests_ChangeRequestId]
GO
ALTER TABLE [dbo].[DevWorkReviewAuthorisations]  WITH CHECK ADD  CONSTRAINT [FK_DevWorkReviewAuthorisations_ProcessDeviationReasons_ProcessDeviationReasonId] FOREIGN KEY([ProcessDeviationReasonId])
REFERENCES [dbo].[ProcessDeviationReasons] ([ProcessDeviationReasonId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DevWorkReviewAuthorisations] CHECK CONSTRAINT [FK_DevWorkReviewAuthorisations_ProcessDeviationReasons_ProcessDeviationReasonId]
GO
ALTER TABLE [dbo].[DevWorkReviewAuthSignatures]  WITH CHECK ADD  CONSTRAINT [FK_DevWorkReviewAuthSignatures_DevWorkReviewAuthorisations_devWorkReviewAuthorisationsDevWorkReviewAuthorisationId] FOREIGN KEY([devWorkReviewAuthorisationsDevWorkReviewAuthorisationId])
REFERENCES [dbo].[DevWorkReviewAuthorisations] ([DevWorkReviewAuthorisationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DevWorkReviewAuthSignatures] CHECK CONSTRAINT [FK_DevWorkReviewAuthSignatures_DevWorkReviewAuthorisations_devWorkReviewAuthorisationsDevWorkReviewAuthorisationId]
GO
ALTER TABLE [dbo].[DevWorkReviewAuthSignatures]  WITH CHECK ADD  CONSTRAINT [FK_DevWorkReviewAuthSignatures_SignatureUploads_SignaturesSignatureUploadId] FOREIGN KEY([SignaturesSignatureUploadId])
REFERENCES [dbo].[SignatureUploads] ([SignatureUploadId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DevWorkReviewAuthSignatures] CHECK CONSTRAINT [FK_DevWorkReviewAuthSignatures_SignatureUploads_SignaturesSignatureUploadId]
GO
ALTER TABLE [dbo].[FileUploads]  WITH CHECK ADD  CONSTRAINT [FK_FileUploads_ChangeRequests_ChangeRequestId] FOREIGN KEY([ChangeRequestId])
REFERENCES [dbo].[ChangeRequests] ([ChangeRequestId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FileUploads] CHECK CONSTRAINT [FK_FileUploads_ChangeRequests_ChangeRequestId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_ChangeRequests_ChangeRequestId] FOREIGN KEY([ChangeRequestId])
REFERENCES [dbo].[ChangeRequests] ([ChangeRequestId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_ChangeRequests_ChangeRequestId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_NotificationTypes_NotificationTypeId] FOREIGN KEY([NotificationTypeId])
REFERENCES [dbo].[NotificationTypes] ([NotificationTypeId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_NotificationTypes_NotificationTypeId]
GO
ALTER TABLE [dbo].[Rejections]  WITH CHECK ADD  CONSTRAINT [FK_Rejections_ChangeRequests_ChangeRequestId] FOREIGN KEY([ChangeRequestId])
REFERENCES [dbo].[ChangeRequests] ([ChangeRequestId])
GO
ALTER TABLE [dbo].[Rejections] CHECK CONSTRAINT [FK_Rejections_ChangeRequests_ChangeRequestId]
GO
ALTER TABLE [dbo].[Rejections]  WITH CHECK ADD  CONSTRAINT [FK_Rejections_RejectionReasonTypes_RejectionReasonTypeId] FOREIGN KEY([RejectionReasonTypeId])
REFERENCES [dbo].[RejectionReasonTypes] ([RejectionReasonTypeId])
GO
ALTER TABLE [dbo].[Rejections] CHECK CONSTRAINT [FK_Rejections_RejectionReasonTypes_RejectionReasonTypeId]
GO
ALTER TABLE [dbo].[SentEmails]  WITH CHECK ADD  CONSTRAINT [FK_SentEmails_EmailTypes_EmailTypeId] FOREIGN KEY([EmailTypeId])
REFERENCES [dbo].[EmailTypes] ([EmailTypeId])
GO
ALTER TABLE [dbo].[SentEmails] CHECK CONSTRAINT [FK_SentEmails_EmailTypes_EmailTypeId]
GO
ALTER TABLE [dbo].[SentEmails]  WITH CHECK ADD  CONSTRAINT [FK_SentEmails_Notifications_NotificationId] FOREIGN KEY([NotificationId])
REFERENCES [dbo].[Notifications] ([NotificationId])
GO
ALTER TABLE [dbo].[SentEmails] CHECK CONSTRAINT [FK_SentEmails_Notifications_NotificationId]
GO
