
@{
    ViewData["Title"] = "Privacy";
}

<h1>Privacy</h1>
<p>
    The Privacy Statement for this application is defined by the University of York, as found on the
    <a class="btn-sm btn-primary rounded-pill text-decoration-none" href="https://www.york.ac.uk/about/legal-statements/" target="_blank" rel="noopener"><i class="fas fa-link padding-right-10"></i>Legal Statements</a>
    pages.
</p>
