<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\WebApp.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="" />
					<environmentVariable name="GOOGLECONFIG_CLIENTID" value="" />
					<environmentVariable name="GOOGLECONFIG_CLIENTSECRET" value="" />
					<environmentVariable name="CONNECTIONSTRINGS_DEFAULTCONNECTION" value="" />
					<environmentVariable name="CONNECTIONSTRINGS_TRAININGDATABASE" value="" />
					<environmentVariable name="CONNECTIONSTRINGS_PRODUCTIONDATABASE" value="" />
					<environmentVariable name="CONNECTIONSTRINGS_YTULIBRARYCONNECTION" value="" />
					<environmentVariable name="OCTOKITCONFIG_GITHUBTOKEN" value="" />
					<environmentVariable name="APITOKENCONFIG_CHAREQAPITOKEN" value="" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>