.checkbox-menu {
    color: var(--font-color);
    background-color: var(--form-control-bg);
}

.checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: var(--font-color);
    background-color: var(--form-control-bg);
    white-space: nowrap;
    margin: 0;
    transition: background-color .4s ease;
}

.checkbox-menu li input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
}

.checkbox-menu li.active label {
    background-color: var(--form-control-bg);
    font-weight: bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
    background-color: var(--form-control-bg-focus);
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
    background-color: var(--form-control-bg-focus);
}
