div.container {
    max-width: 95vw;
    margin: 0 3rem;
}

@media only screen and (max-width: 992px) {
    div.container {
        max-width: 100vw;
        margin: 0;
    }
}

div.container {
    max-width: 95vw;
    margin: 0 3rem;
}
