.thin-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

.thin-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.thin-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
}
